.one{
    border : 1px solid black;
    width : 200px;
    background-color: white;
    height:21px;
    line-height:21px;
}
.two{
    overflow-y: scroll;
    border : 1px solid black;
    border-top : 0;
    width: 200px;
    display: none;
    background-color: red;
    position:absolute;
    z-index:4;
}
.two.show{
    display:block;
}

.three{
    border : 1px solid black;
    width : 200px;
    background-color: white;
    height:21px;
    line-height:21px;
}
.four{
    border : 1px solid black;
    border-bottom : 0;
    width: 200px;
    visibility:hidden;
    background-color: red;
    position:absolute;
    z-index:4;
    overflow-y: scroll;
}
.four.showUP{
    visibility:visible;
}